:root {
  --color-principal:#050505
  
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-principal);
  margin: 0;
  padding: 20px;
  color:#000000;

}

h1 {
  text-align: center;
  color: #eee;
}

h3{
  color:#af11ce;
}
p{
    color:#f055ff;
}


#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.producto {
  background-color: #2f2f2f;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
  box-shadow: 0 2px 5px #afafaf;
}

.producto:hover {
  transform: scale(1.03);
    box-shadow: 0 2px 10px #af11ce;
}

.producto img {
  width: 100%;
  border-radius: 8px;
}

.boton {
  background-color: #f33ff3;
  color: #eee;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.boton:hover {
  background-color: #d33dd3;
  color: #fff;
    transform: scale(1.05);
}

#carrito {
  margin-top: 30px;
  background-color: #2f2f2f;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #afafaf ;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


price {
  background-color: #eeeeee17;
  border-radius: 20px;
  padding: 4px;
}